
<% @books.each do |book| %>

  <p>title</p>
  <span>
    <%= link_to book.title, book_path(book.id) %>
  </span>
  <%= link_to "Show" %>
  <%= link_to "Edit", book_path(book.id) %>
  <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>

<% end %>